<div class="section no-pad-bot welcome-banner row" id="index-banner">
  <h1 class="header center main-text"><img src="hearth-v1.svg"></h1>
  <div class="container row mid-wrap">
    <div class="col s12 m6 card-box">
      <!-- <div class="card teal"> -->
        <div class="welcome-input">
            <form class="welcome-form" action="/communities">
              <div class="input-field">
                <select>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">A sense of purpose</option>
                  <option value="2">A challenge</option>
                  <option value="3">To get fit whilst doing good</option>
                  <option value="3">To get away from it all</option>
                </select>
              </div>
            </form>
          </div>
      <!-- </div> -->
    </div>

    <div class="col s12 m6 card-box">
      <!-- <div class="card teal"> -->
        <div class="welcome-input">
            <form class="welcome-form" action="/properties">
              <div class="col date-field"><label class="date">Start date</label><input style="color:#fff;" type="text" class="datepicker"></div>
              <div class="col date-field"><label class="date">End date</label><input style="color:#fff;" type="text" class="datepicker"></div>
            </form>
          </div>
      <!-- </div> -->
    </div>
  </div>


</div>