
<div class="box-wrap">
  <h1 class="header center main-text"><%= image_tag("hearth.svg") %></h1>
  <div class="container row mid-wrap">
    <div class="col s12 m12">
            <form class="welcome-form" action="/communities">
              <div class="input-field">
                <select>
                  <option value="" disabled selected>What are you looking for?</option>
                  <option value="1">A sense of purpose</option>
                  <option value="2">A challenge</option>
                  <option value="3">To get fit whilst doing good</option>
                  <option value="3">To get away from it all</option>
                </select>
              </div>
            </form>
    </div>

    <div class="col s12 m12">
            <form class="welcome-form" action="/properties">
              <div class="col date-field"><label class="date">Start date</label><input style="color:#333;" type="text" class="datepicker"></div>
              <div class="col date-field"><label class="date">End date</label><input style="color:#333;" type="text" class="datepicker"></div>
            </form>
    </div>
  </div>
</div