<div class="section no-pad-bot" id="index-banner">
  <br><br>
  <h1 class="header center orange-text">Welcome Ourbnb</h1>
  <div class="row center">
    <h5 class="header center white-text">Where would you like to go?</h5>
  </div>
  <div class="row center">
    <div class="welcome-input">
      <form action="/properties"><input name="q" type="text" placeholder="I want to go to..." value=""></form>
    </div>
  </div>
  <div class="row center">
    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Surprise me</a>
  </div>
  <br><br>
</div>
<div id="manifesto" class="">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row center">
        <h1>Our statement</h1>
        <p>our values and manifesto</p>
    </div>
    <div class="row center">
      <div class="col s3 m3"><h2>value</h2><p>text</p></div>
      <div class="col s3 m3"><h2>value</h2><p>text</p></div>
      <div class="col s3 m3"><h2>value</h2><p>text</p></div>
      <div class="col s3 m3"><h2>value</h2><p>text</p></div>
    </div>
  </div>
</div>