@import "materialize";
body.properties #tubular-container{display: none;}
@import "welcome";
@import "properties";

.brand-logo {
	font-family: 'Pacifico', cursive;
}

#map-canvas {
	height: 600px;
}

.header {
	margin: auto;
	margin-top: 80px;
	width: 400px;
}