@import "materialize";
body.properties #tubular-container{display: none;}
@import "welcome";
@import "properties";

.brand-logo {
	font-family: 'Pacifico', cursive;
}

#map-canvas {
	height: 600px;
}
