// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
}
.welcome-main{
	background-image: image_url('welcome.jpg');
	background-size: cover;
	background-position: center;
}
.welcome-input{
	float: none;
  	margin: auto;
  	width: 50%;
}
#manifesto{
	width: 100%;
	padding: 20px;
	background-color: #333;
}

